body{
    margin: 0px;
    padding: 0px; 
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 상 오 하 왼 */
    margin: 0px 0px 0px 16px;
    padding: 0px;
    list-style: none;
}
a{
    text-decoration: none;
    color:#7c8082;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 1170px;
}

/* header - login*/
.topbar {
    display: flex;
    justify-content: flex-end;
}
.loginbar-item{
    padding: 16px 8px;
    font-size: 11px;
}

/* header - menu */
.navbar{
    display: flex;
    justify-content: center;
}
.logo{
    height: 60px;
}
.header-menu-item{
    padding: 16px;
}


